In [3]:
import pandas as pd

In [4]:
file_path = "../exports/cms_unified_2024.csv"
df = pd.read_csv(file_path, low_memory=False, parse_dates=["date_of_payment"])

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 655386 entries, 0 to 655385
Data columns (total 14 columns):
 #   Column                                                         Non-Null Count   Dtype
---  ------                                                         --------------   -----
 0   covered_recipient_profile_id                                   655386 non-null  int64
 1   covered_recipient_npi                                          655386 non-null  int64
 2   covered_recipient_first_name                                   655380 non-null  object
 3   covered_recipient_last_name                                    655373 non-null  object
 4   recipient_city                                                 655386 non-null  object
 5   recipient_state                                                655343 non-null  object
 6   applicable_manufacturer_or_applicable_gpo_making_payment_id    655386 non-null  int64
 7   applicable_manufacturer_or_applicable_gpo_making_payment_name  655386 non-null  object
 8   name_of_drug_or_biological_or_device_or_medical_supply_1       460381 non-null  object
 9   total_amount_of_payment_usdollars                              655386 non-null  float64
 10  date_of_payment                                                655325 non-null  datetime64[ns]
 11  record_id                                                      655386 non-null  int64
 12  program_year                                                   655386 non-null  int64
 13  transaction_type                                               655386 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(5), object(7)
memory usage: 70.0+ MB

In [14]:
df.sample(20)

,covered_recipient_profile_id,covered_recipient_npi,covered_recipient_first_name,covered_recipient_last_name,recipient_city,recipient_state,applicable_manufacturer_or_applicable_gpo_making_payment_id,applicable_manufacturer_or_applicable_gpo_making_payment_name,name_of_drug_or_biological_or_device_or_medical_supply_1,total_amount_of_payment_usdollars,date_of_payment,record_id,program_year,transaction_type
399174,4246692,1831630631,Vanessa,Michalicka,Monroe,WI,100000005384,"INTUITIVE SURGICAL, INC.",DAVINCI XI,1000.00,2024-05-08,1137185607,2024,general
552728,302764,1689663759,John,Lantis,New York,NY,100000005456,"Smith+Nephew, Inc.",Versajet,4500.00,2024-05-18,1149502376,2024,general
85634,352354,1740408624,Mariana,Chavez Mac Gregor,Houston,TX,100000010370,AstraZeneca UK Limited,Truqap,900.00,2024-09-19,1093937971,2024,general
293119,328018,1225054109,James,Bonucchi,Springfield,MO,100000010680,Abbott Laboratories,FREESTYLE LIBRE 3,450.00,2024-05-09,1125396113,2024,general
453457,241908,1336402445,Ryan,Corte,Charlotte,NC,100001116887,Bausch & Lomb Americas Inc.,INFUSE,3200.00,2024-05-14,1140440232,2024,general
523731,40155,1902034531,Shivang,Joshi,Worcester,MA,100000000236,Lundbeck LLC,VYEPTI,50.00,2024-10-19,1145930236,2024,general
106502,4574062,1194110585,Curtis,Lachowiez,Portland,OR,100000005499,"E.R. Squibb & Sons, L.L.C.",NaN,1730.00,2024-09-11,1101350714,2024,general
4724,613272,1780706580,Kevin,Brown,Bellevue,WA,100000010613,Tokuyama Dental America Inc.,NaN,1250.00,2024-03-05,1075868364,2024,general
490296,1282085,1841697257,Bruno,Azevedo,Louisville,KY,100000005738,"J. Morita USA, Inc.",NaN,1500.00,2024-09-27,1143302724,2024,general
90136,855122,1265485155,Christopher,Ames,San Francisco,CA,100000011129,"Alphatec Spine, Inc",Other - Miscellaneous,7700.00,2024-07-01,1095491916,2024,general
179007,10436977,1770593212,Susan,Moore,Wytheville,VA,100000000204,ABBVIE INC.,VRAYLAR,1500.00,2024-06-18,1107688072,2024,general
278361,11472803,1376076240,Jasmin,Patel,Freehold,NJ,100000000127,"EMD Serono, Inc.",NaN,2400.00,2024-03-18,1120275248,2024,general
199451,223274,1932136215,Debbie,Stein,Philadelphia,PA,100000000106,"Medtronic, Inc.",NaN,10012.50,2024-03-11,1112045790,2024,general
330194,225546,1962593947,Carl,Wallach,Morristown,NJ,100000000286,PFIZER INC.,VELSIPITY,3750.00,2024-02-27,1132015493,2024,general
11167,5603099,1205316296,Jeffrey,Cofie,Warner Robins,GA,100000005397,"Johnson & Johnson Vision Care, Inc.",Acuvue,1000.00,2024-07-17,1077709746,2024,general
55968,4429400,1831308022,Jennifer,Cudris Maldonado,Aventura,FL,100000000228,Novartis Pharmaceuticals Corporation,KISQALI,99.70,2024-11-14,1086721823,2024,general
63346,1000152,1366671497,Nathan,Lighthizer,Tahlequah,OK,100000651811,"LKC Technologies, Inc.",NaN,1200.00,2024-06-28,1087633979,2024,general
92654,183411,1033290440,Anthony,Bashall,Indianapolis,IN,100000000144,Novo Nordisk Inc,NaN,5037.50,2024-11-21,1096778157,2024,general
278102,26639,1588661409,Mark,Janicki,Lebanon,IN,100000000127,"EMD Serono, Inc.",Mavenclad,4463.00,2024-07-15,1120216580,2024,general
300955,222141,1891806857,Michael,Pittaro,Stamford,CT,100000010680,Abbott Laboratories,ACCENT,1593.75,2024-02-20,1125441059,2024,general

In [7]:
df[df["covered_recipient_npi"] == 1942535489].groupby("covered_recipient_npi")["total_amount_of_payment_usdollars"].sum().reset_index()

   covered_recipient_npi  total_amount_of_payment_usdollars
0             1942535489                          161966.49

In [8]:
df[df["covered_recipient_npi"] == 1942535489].groupby("covered_recipient_npi").agg(
    total_payment=("total_amount_of_payment_usdollars", "sum"), 
    avg_payment=("total_amount_of_payment_usdollars", "mean"),
    num_payment=("total_amount_of_payment_usdollars", "count")
)

                       total_payment  avg_payment  num_payment
covered_recipient_npi
1942535489                 161966.49  2131.138026           76

In [9]:
df.sort_values(["total_amount_of_payment_usdollars"], ascending=False)

,covered_recipient_profile_id,covered_recipient_npi,covered_recipient_first_name,covered_recipient_last_name,recipient_city,recipient_state,applicable_manufacturer_or_applicable_gpo_making_payment_id,applicable_manufacturer_or_applicable_gpo_making_payment_name,name_of_drug_or_biological_or_device_or_medical_supply_1,total_amount_of_payment_usdollars,date_of_payment,record_id,program_year,transaction_type
528394,288926,1366487498,Stephen,Burkhart,San Antonio,TX,100000005371,"Arthrex, Inc.",Arthrex,9150084.07,2024-02-15,1146527311,2024,general
502705,169552,1740392901,Daniel,Schwartz,San Francisco,CA,100000676811,RxSight Inc,RXSIGHT CONTACT LENS,6791927.77,2024-01-16,1144227720,2024,general
528393,288926,1366487498,Stephen,Burkhart,San Antonio,TX,100000005371,"Arthrex, Inc.",Arthrex,4979982.21,2024-05-15,1146527307,2024,general
593117,105583,1336247469,Ivan,Osorio,Kansas City,KS,100000176739,"LivaNova USA, Inc.",VNS THERAPY SENTIVA MODEL 1000 GENERATOR,4494860.91,2024-07-30,1152786953,2024,general
593119,105583,1336247469,Ivan,Osorio,Kansas City,KS,100000176739,"LivaNova USA, Inc.",VNS THERAPY SENTIVA MODEL 1000 GENERATOR,4417383.49,2024-10-30,1152786957,2024,general
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
533185,330185,1265510416,Thomas,Stinchcombe,Chapel Hill,NC,100000981882,Acrotech Biopharma Inc.,NaN,0.01,2024-12-09,1147106244,2024,general
547121,11190367,1154819035,Kathryn,Ellens,Grand Rapids,MI,100001111886,"Axsome Therapeutics, Inc.",Sunosi,0.01,2024-06-10,1148375926,2024,general
543861,325117,1164431904,Robert,Hamilton,Normal,IL,100001111886,"Axsome Therapeutics, Inc.",Sunosi,0.01,2024-05-16,1148315966,2024,general
543658,145009,1194702100,Phone,Win,Monticello,NY,100001111886,"Axsome Therapeutics, Inc.",Sunosi,0.01,2024-05-07,1148311328,2024,general
543699,2789821,1073855409,Danny,Mcclure,Phoenix,AZ,100001111886,"Axsome Therapeutics, Inc.",Sunosi,0.01,2024-04-03,1148274524,2024,general

In [10]:
df[df["covered_recipient_npi"] == 1366487498].groupby("covered_recipient_npi").agg(
    total_payment=("total_amount_of_payment_usdollars", "sum"), 
    avg_payment=("total_amount_of_payment_usdollars", "mean"),
    num_payment=("total_amount_of_payment_usdollars", "count")
)

                       total_payment   avg_payment  num_payment
covered_recipient_npi
1366487498               17332176.23  5.777392e+06            3

In [11]:
df.groupby(["recipient_state"]).size().reset_index(name="count").sort_values("count", ascending=False).head(10)

   recipient_state  count
6               CA  71955
47              TX  55711
11              FL  51461
37              NY  49306
41              PA  29435
17              IL  28324
38              OH  26687
30              NC  22450
12              GA  20857
25              MI  20591

In [12]:
df.groupby(["transaction_type"]).size().reset_index(name="count").sort_values("count", ascending=False)

  transaction_type   count
0          general  628035
1         research   27351

In [13]:
df.groupby(["applicable_manufacturer_or_applicable_gpo_making_payment_name"]).size().reset_index(name="count").sort_values("count", ascending=False)

     applicable_manufacturer_or_applicable_gpo_making_payment_name  count
8                                           ABBVIE INC.             47516
762                                      Lilly USA, LLC             23345
624                            INTUITIVE SURGICAL, INC.             22220
137                      AstraZeneca Pharmaceuticals LP             20647
684                               Janssen Biotech, Inc.             19157
...                                                 ...               ...
1377                           VisionAir Solutions, LLC                 1
1378                                     VisionRT, Inc.                 1
1384                                  VoxNeuro USA Inc.                 1
3                                            3Shape A/S                 1
2                                            3D Systems                 1

[1426 rows x 2 columns]